
.navbar-brand {
    display: none !important;
}

#content {
    background-color: #bad9d2;
}


.truck-img {
    width: 500px;
    height:600px;
    right:52%;
    position: absolute;
}

.truck-img-logo {
    width: 200px;
    height: 120px;
    float: right;
    margin-top: 90px;
}

.company-title {
    font-family: 'Jura', sans-serif;
    font-size: 144px;
    position: relative;
    left: 275px;
    color: #3B8062;
    top: 120px;
}

.subtitle {
    position: relative;
    margin-top:38%;
    margin-right: -2%;
    float: right;
    font-size: 30px;
    color: #3B8062;
}

.visual-container {
    height: 500px;
    width: 660px;
    border: solid 1px #3B8062;
    position: absolute;
    margin-top: 42%;
    float: left;
    left: 0;
}

.visual-container-content {
    height: 500px;
    width: 960px;
    border: solid 2px #3B8062;
    position: absolute;
    margin-top: 38%;
    float: right;
    right: 20px;
    -webkit-box-shadow: 0 0 4px 4px #7B968B2E;
    -moz-box-shadow: 0 0 4px 4px #7B968B2E;
    box-shadow: 0 0 4px 4px #7B968B2E;
}


.footer {
    position: absolute;
    margin-top: 80%;
    color: transparent;
}

.center-flex-item {
    height: 490px;
}


ul {
    padding-left: 30px;
    margin-top: 10%;
}

li {
    list-style-type: none;
    font-family: Montserrat;
    font-size: 22px;
    color: #1d4464;
}

.bullet {
    width: 60px;
    height: 60px;
    margin-right: 40px;
}


@media only screen and (min-width:328px) and (max-width: 691px) {

    .center-flex-item {
        min-height: 550px;
    }

    .truck-img {
        margin-left: auto;
        margin-right: auto;
        right: 0;
        position: relative;
        width: 300px;
        height: 400px;
        display: flex;
    }

    .company {
        display: flex;
        margin-top: 20px;
    }

    .company-title {
        margin-left: auto;
        font-size: 70px;
        left: 0;
        top: 0;
        display: flex;
        text-align: center;
    }

    .truck-img-logo {
        margin-right: auto;
        width: 90px;
        height: 60px;
        margin-top: 0;
    }

    .subtitle {
        position: relative;
        margin-top: 0;
        margin-right: 0;
        float: right;
        font-size: 20px;
        padding-right: 12px;
    }

    .visual-container {
        display: none;
    }

    .visual-container-content {
        left: 0;
        right: 0;
        padding-right: 6px;
        padding-left: 6px;
        margin-right: auto;
        margin-left: auto;
        float: none;
        height: auto;
        width: auto;
        text-align: center;
        position: relative;
    }

    ul {
        padding-left: 0;
    }

    li {
        font-size: 20px;
    }

    .bullet {
        width: 40px;
        height: 40px;
        margin-right: 0;
    }

    .footer {
        margin-top: 0;
    }
}

@media only screen and (min-width: 691px) and (max-width: 1091px) {

    .center-flex-item {
        min-height: 730px;
    }

    .truck-img {
        margin-left: auto;
        margin-right: auto;
        right: 0;
        position: relative;
        width: 600px;
        height: 600px;
        display: flex;
    }

    .company {
        display: flex;
        margin-top: 20px;
    }

    .company-title {
        margin-left: auto;
        font-size: 70px;
        left: 0;
        top: 0;
        display: flex;
        text-align: center;
    }

    .subtitle {
        position: relative;
        margin-top: 0;
        margin-right: 0;
        float: right;
        font-size: 20px;
        padding-right: 12px;
    }

    .truck-img-logo {
        margin-right: auto;
        width: 90px;
        height: 60px;
        margin-top: 0;
    }

    .visual-container {
        display: none;
    }

    .visual-container-content {
        left: 0;
        right: 0;
        padding-right: 6px;
        padding-left: 6px;
        margin-right: auto;
        margin-left: auto;
        float: none;
        height: auto;
        width: auto;
        text-align: center;
        position: relative;
        margin-top: 18%;
    }

    ul {
        padding-left: 0;
    }

    li {
        font-size: 20px;
    }

    .bullet {
        width: 40px;
        height: 40px;
        margin-right: 0;
    }

    .footer {
        margin-top: 0;
    }
}