
.navbar-brand {
    display: none !important;
}

#content {
    background-color: #bad9d2;
}


.truck-img {
    width: 500px;
    height:600px;
    right:52%;
    position: absolute;
}

.truck-img-logo {
    width: 200px;
    height: 120px;
    float: right;
    margin-top: 90px;
}

.company-title {
    font-family: 'Jura', sans-serif;
    font-size: 144px;
    position: relative;
    left: 275px;
    color: #3B8062;
    top: 120px;
}

.subtitle {
    position: relative;
    margin-top:38%;
    margin-right: -2%;
    float: right;
    font-size: 30px;
    color: #3B8062;
}

.visual-container {
    height: 500px;
    width: 660px;
    border: solid 1px #3B8062;
    position: absolute;
    margin-top: 42%;
    float: left;
    left: 0;
}

.visual-container-content {
    height: 500px;
    width: 960px;
    border: solid 2px #3B8062;
    position: absolute;
    margin-top: 38%;
    float: right;
    right: 20px;
    -webkit-box-shadow: 0 0 4px 4px #7B968B2E;
    -moz-box-shadow: 0 0 4px 4px #7B968B2E;
    box-shadow: 0 0 4px 4px #7B968B2E;
}


.footer {
    position: absolute;
    margin-top: 80%;
    color: transparent;
}

.center-flex-item {
    height: 490px;
}


ul {
    padding-left: 30px;
    margin-top: 10%;
}

li {
    list-style-type: none;
    font-family: Montserrat;
    font-size: 22px;
    color: #1d4464;
}

.bullet {
    width: 60px;
    height: 60px;
    margin-right: 40px;
}

