<!DOCTYPE html>
<html
    lang="EN"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{base-centered::centered(styles=~{::#style}, data=~{::body})}"
>
    <body>
        <p class="title">About us</p>
        <div class="company-info">
            Agility’s story parallels the rise of emerging markets in the global
            economy. The company got its start as a local warehousing provider
            in Kuwait and grew to become the largest logistics company in the
            Middle East. It acquired more than 40 logistics brands around the
            world, some in business since the mid-1800s. Agility today is one of
            the world’s largest integrated logistics providers and the largest
            private owner and developer of industrial real estate in the Middle
            East and North Africa.
        </div>
        <p class="title">
            Offices
        </p>
        <div class="list" th:if="${not #lists.isEmpty(allOffices)}">
            <div th:each="office: ${allOffices}">
                <p th:text="${office.name}"></p>
                <p th:text="${office.address}"></p>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(allOffices)}">
            <p class="no-data-text">
                We do not have offices right now. Please, excuse us.
            </p>
        </div>
    </body>
</html>
