<!DOCTYPE html>
<html data-th-replace="~{base-centered::centered(data=~{::body})}">
    <body>
        <!--        <h2 class="pb-4">Create office</h2>-->
        <div class="container">
            <h2>Create Office</h2>
            <hr />

            <form data-th-action="@{/offices/create}" data-th-object="${office}" method="POST">
                <!--            add a hidden form to handle update-->
                <input type="hidden" data-th-field="*{id}" />

                <input
                    type="text"
                    data-th-field="*{name}"
                    class=""
                    form-control
                    mb-2
                    col-10
                    placeholder="Name"
                />

                <button type="submit" class="btn btn-primary mb-2">Save Office</button>
            </form>
            <hr />
            <a data-th-href="@{/offices}">Back to the Offices</a>
        </div>
    </body>
</html>
