<!DOCTYPE html>
<html
        lang="EN"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{base-centered::centered(data=~{::body})}"
>
    <body>
        <!--        <h2 class="pb-4">Create office</h2>-->
        <h2 class="pb-4 flex-item text-center">Create an office</h2>
        <br />
        <form action="#" th:action="@{/offices/create}" th:object="${office}" method="post">
            <div class="form-group">
                <p>Name the office</p>
                <input type="text" th:field="*{name}" class="form-control" />
            </div>
            <p>
                <button class="btn btn-style w-75" type="submit">
                    Save office
                </button>
            </p>

<!--            <div class="container">-->
<!--            <h2>Create Office</h2>-->
<!--            <hr />-->

<!--            <form data-th-action="@{/offices/create}" data-th-object="${office}" method="POST">-->
<!--                &lt;!&ndash;            add a hidden form to handle update&ndash;&gt;-->
<!--                <input type="hidden" data-th-field="*{id}" />-->

<!--                <input-->
<!--                    type="text" data-th-field="*{name}" class="" form-control mb-2 col-10 placeholder="Name"-->
<!--                />-->

<!--                <button type="submit" class="btn btn-primary mb-2">Save Office</button>-->
            </form>
            <hr />
            <a data-th-href="@{/offices}" >Back to the Offices</a>
        </div>
    </body>
</html>
