<!DOCTYPE html>
<html
    lang="EN"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{base-centered::centered(data=~{::body})}"
>
    <body>
        <h2 class="pb-4 flex-item text-center">Create a delivery</h2>
        <br />
        <form
            th:action="@{/deliveries/create}"
            th:object="${delivery}"
            method="post"
        >
            <div class="form-group">
                <p>Delivery recipient's email</p>
                <input
                    type="email"
                    th:field="*{recipient.user.email}"
                    placeholder="some@email.com"
                    class="form-control"
                />
            </div>

            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='text',
                    placeholder='Name',
                    label='Delivery name',
                    name='name',
                    isValid=${not #fields.hasErrors('name')},
                    invalidMessage='Delivery name is invalid!')}"
            ></div>

            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='text',
                    placeholder='Some address',
                    label='Delivery address',
                    name='address',
                    isValid=${not #fields.hasErrors('address')},
                    invalidMessage='Delivery address is invalid!')}"
            ></div>

            <div
                data-th-replace="~{form-elements::validatedInput(
                    type='text',
                    placeholder='0.0',
                    label='Delivery weight',
                    name='weight',
                    isValid=${not #fields.hasErrors('weight')},
                    invalidMessage='Delivery weight is invalid!')}"
            ></div>

            <div class="form-group">
                <div class="custom-control custom-checkbox checkbox-lg">
                    <input
                        type="checkbox"
                        name="officeDelivery"
                        th:field="${delivery.officeDelivery}"
                        class="custom-control-input"
                        id="checkbox-2"
                        checked=""
                    />
                    <label class="custom-control-label" for="checkbox-2"
                        >Delivery sent to office?</label
                    >
                </div>
            </div>
            <p>
                <button class="btn btn-style w-75" type="submit">
                    Submit
                </button>
            </p>
        </form>
    </body>
</html>
