<!DOCTYPE html>
<html
    lang="EN"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{base-centered::centered(data=~{::body}, styles=~{::#style})}"
>
    <section id="style">
        <link th:href="@{/static/css/base.css}" rel="stylesheet" />
    </section>

    <body>
        <h2 class="pb-4 flex-item text-center">All</h2>
        <br />
        <div th:if="${not #lists.isEmpty(allDeliveries)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery: ${allDeliveries}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                        <td>
                            <form
                                data-th-action="@{~/deliveries/info}"
                                method="POST"
                            >
                                <input
                                    type="hidden"
                                    name="name"
                                    data-th-value="${delivery.name}"
                                />
                                <button type="submit" class="btn btn-style">
                                    Edit
                                </button>
                            </form>
                        </td>
                        <td>
                            <form
                                data-th-action="@{~/deliveries/delete}"
                                method="POST"
                            >
                                <input
                                    type="hidden"
                                    name="id"
                                    data-th-value="${delivery.name}"
                                />
                                <button type="submit" class="btn btn-style">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(allDeliveries)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">Registered</h2>
        <br />
        <div th:if="${not #lists.isEmpty(registeredDeliveries)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery: ${registeredDeliveries}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                        <td>
                            <form
                                data-th-action="@{~/deliveries/info}"
                                method="POST"
                            >
                                <input
                                    type="hidden"
                                    name="name"
                                    data-th-value="${delivery.name}"
                                />
                                <button type="submit" class="btn btn-style">
                                    Edit
                                </button>
                            </form>
                        </td>
                        <td>
                            <form
                                data-th-action="@{~/deliveries/delete}"
                                method="POST"
                            >
                                <input
                                    type="hidden"
                                    name="id"
                                    data-th-value="${delivery.name}"
                                />
                                <button type="submit" class="btn btn-style">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(registeredDeliveries)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">Sent but not delivered</h2>
        <br />
        <div th:if="${not #lists.isEmpty(sentUndelivered)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery: ${sentUndelivered}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                        <td>
                            <form
                                data-th-action="@{~/deliveries/info}"
                                method="POST"
                            >
                                <input
                                    type="hidden"
                                    name="name"
                                    data-th-value="${delivery.name}"
                                />
                                <button type="submit" class="btn btn-style">
                                    Edit
                                </button>
                            </form>
                        </td>
                        <td>
                            <form
                                data-th-action="@{~/deliveries/delete}"
                                method="POST"
                            >
                                <input
                                    type="hidden"
                                    name="id"
                                    data-th-value="${delivery.name}"
                                />
                                <button type="submit" class="btn btn-style">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(sentUndelivered)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">Sent and delivered</h2>
        <br />
        <div th:if="${not #lists.isEmpty(clientSentDelivered)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery : ${clientSentDelivered}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(clientSentDelivered)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">Sent but not delivered yet</h2>
        <br />
        <div th:if="${not #lists.isEmpty(clientSentUndelivered)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery : ${clientSentUndelivered}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(clientSentUndelivered)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">Received and delivered</h2>
        <div th:if="${not #lists.isEmpty(clientReceivedDelivered)}">
            <div class="scrollbar scrollbar-lady-lips">
                <div class="force-overflow">
                    <table class="table table-borderless">
                        <tr>
                            <th>Sender email</th>
                            <th>Recipient email</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Weight</th>
                            <th>Delivery sent to office?</th>
                            <th></th>
                        </tr>
                        <tr th:each="delivery : ${clientReceivedDelivered}">
                            <td th:text="${delivery.sender?.user.email}"></td>
                            <td
                                th:text="${delivery.recipient?.user.email}"
                            ></td>
                            <td th:text="${delivery.name}"></td>
                            <td th:text="${delivery.address}"></td>
                            <td th:text="${delivery.weight}"></td>
                            <td
                                th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                            ></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(clientReceivedDelivered)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">
            Received but not delivered yet
        </h2>
        <div th:if="${not #lists.isEmpty(clientReceivedUndelivered)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery : ${clientReceivedUndelivered}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(clientReceivedUndelivered)}">
            <p class="no-data-text">Nothing to show</p>
        </div>

        <h2 class="pb-4 flex-item text-center">
            Registered by me
        </h2>
        <div th:if="${not #lists.isEmpty(employeeRegisteredDeliveries)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Sender email</th>
                        <th>Recipient email</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Weight</th>
                        <th>Delivery sent to office?</th>
                        <th></th>
                    </tr>
                    <tr th:each="delivery : ${employeeRegisteredDeliveries}">
                        <td th:text="${delivery.sender?.user.email}"></td>
                        <td th:text="${delivery.recipient?.user.email}"></td>
                        <td th:text="${delivery.name}"></td>
                        <td th:text="${delivery.address}"></td>
                        <td th:text="${delivery.weight}"></td>
                        <td
                            th:text="${delivery.isOfficeDelivery()} ? 'Yes' : 'No'"
                        ></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(employeeRegisteredDeliveries)}">
            <p class="no-data-text">Nothing to show</p>
        </div>
    </body>
</html>
