<!DOCTYPE HTML>
<html lang ="EN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{base-centered::centered(data=~{::body}, styles=~{::#style})}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<section id = "style">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Saira:wght@300;400&display=swap" rel="stylesheet">
</section>

<p style="margin-top: 190px">Your request was successful! Click to see your <a href = deliveries>lists of deliveries.</a></p>

</body>