<!DOCTYPE html>
<html
    lang="EN"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{base-centered::centered(data=~{::body}, styles=~{::#style})}"
>
    <section id="style">
        <link th:href="@{/css/deliveries.css}" rel="stylesheet" />
    </section>

    <body>
        <h2 class="pb-4 flex-item text-center">All offices</h2>
        <br />
        <div class="scrollbar">
            <table class="table table-borderless">
                <tr>
                    <th>Office ID</th>
                    <th>Office Name</th>
                    <th>Office Address</th>
                    <th></th>
                </tr>
                <tr data-th-each="office : ${offices}">
                    <td data-th-text="${office.id}" />
                    <td data-th-text="${office.name}" />
                    <td data-th-text="${office.address}" />
                    <td>
                         <a
                            type="submit"
                            data-th-href="@{|~/offices/${office.id}|}"
                         >
                            <button class="change-btn btn btn-style"> Edit </button>
                         </a>
                    </td>
                    <td>
                        <form
                            data-th-action="@{~/offices/delete}"
                            method="POST"
                        >
                            <input
                                type="hidden"
                                name="id"
                                data-th-value="${office.id}"
                            />
                            <button type="submit" class="change-btn btn btn-style">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
